@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
}

button {
  cursor: pointer;
  border-radius: 10px;
}

input,
select {
  background-color: var(--input-bg);
  color: var(--input-text);
  border-radius: 8px;
  padding: 5px;
  margin-top: 5px;
}

td,
th {
  padding: 8px 6px;
  font-size: 14px;
  text-align: center;
}

#root {
  width: 100%;
  min-height: 100dvh;
}

:root {
  --border: gray;
  --text: #2c2926;
  --text-secondary: #8a8178;
  --text-muted: #6f6861;

  --bg: #f5f2ee;
  --header-bg: #ede9e4;

  --card-bg: #faf8f5;
  --card-border: #ddd7d0;

  --btn-bg: #ebe6e0;
  --btn-hover-bg: #dfd8d0;

  --input-bg: #faf8f5;
  --input-border: #d4cec7;
  --input-text: #2c2926;

  --subtle-text: #625c56;

  --back-btn-bg: #e9e4de;
  --back-btn-hover-bg: #ddd6ce;

  /* Buttons */
  --save-btn-bg: #22c55e;
  --save-btn-hover-bg: #16a34a;
  --delete-btn-bg: #851b1b;
  --delete-btn-hover-bg: #701717;
  --transfer-btn-bg: #3b82f6;

  /* Errors */
  --error-border: rgb(255, 0, 0);
  --error-bg: #ef0c0c;
}

[theme="dark"] {
  --border: black;
  --text: #dbdbdb;
  --text-secondary: #475569;
  --text-muted: #94a3b8;
  --bg: #18181b;
  --header-bg: #1f1f23;
  --card-bg: #23232a;
  --card-border: #34343a;
  --text: #f4f4f5;
  --btn-bg: #333;
  --btn-hover-bg: #444;
  --input-bg: #686868;
  --input-border: #4b4a4a;
  --input-text: #e3e3e3;
  --subtle-text: #c5c5c5;
  --back-btn-bg: #2f2f36;
  --back-btn-hover-bg: #333;
}
